<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  </head>
  <body>
    <h1> About</h1>
    <p>
       <a href="http://socialwiki.herokuapp.com"> SocialWiki forum</a> 
       was created in 2016 as a Project for SYSC4806. It was created by Lina El Sadek, Sougal Bouh Ali, and Martin Massie.
    </p>
  </body>
</html>

