<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1> Help </h1>
    <p>
       This is the help page for the
       <a href="http://socialwiki.herokuapp.com/#help"> SocialWiki forum</a>
    </p>
  </body>
</html>

