<footer class="footer">
  <small>
    The <a href="http://socialwiki.herokuapp.com/"> SocialWiki App </a> by Lina     El Sadek, Sougal Bouh Ali, and Martin Massie
  </small>
  <nav>
    <ul>
      <li> <%= link_to "About", about_path %></li>
      <li> <%= link_to "Contact", contact_path %> </li>
    </ul>
  </nav>
</footer>
